@using BilisimOfisiTicariOtomasyon.Models.Sınıflar
@model List<FaturaKalem>
@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Fatura Detay</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Fatura No: @ViewBag.d Detay</li>
</ol>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Açıklama</th>
        <th>Miktar</th>
        <th>Birim Fiyat</th>
        <th>Tutar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.faturaKalemId</td>
            <td>@x.faturaKalemAciklama</td>
            <td>@x.faturaKalemMiktar</td>
            <td>@x.faturaKalemBirimFiyat</td>
            <td>@x.faturaKalemTutar</td>
        </tr>
    }

</table>

<a href="/Fatura/YeniKalem/@ViewBag.id" class="btn btn-primary" >Yeni Kalem Giriş</a>

