@model BilisimOfisiTicariOtomasyon.Models.Sınıflar.Cari
@{
    ViewBag.Title = "CariGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />

<h2>Cari Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("CariGuncelle", "Cari", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(x => x.cariId)
    @Html.LabelFor(x => x.cariAd)
    @Html.TextBoxFor(x => x.cariAd, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.cariAd, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.cariSoyad)
    @Html.TextBoxFor(x => x.cariSoyad, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.cariSoyad, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.cariSehir)
    @Html.TextBoxFor(x => x.cariSehir, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.cariMail)
    @Html.TextBoxFor(x => x.cariMail, new { @class = "form-control" })
    <br />
    <button class="btn btn-info"><i class="fa fa-undo"></i> Güncelle</button>
</div>
}